<footer class="h-14 bg-black mt-8 text-gray-100 flex items-center justify-center">
    Muhumbania ©copyright <%= new Date().getFullYear()  %>
</footer>

<script src='c:/Users/user/MediaPlus/public/scripts/main.js'></script>
</body>
</html>