<%- include('partials/header.ejs')  %>

    <div class="absolute top-[8vh] right-12 h-[417px] w-64 bg-white flex flex-col p-2 rounded-md shadow-sm border-2 hidden accountDiv">
        <div class="flex items-center justify-start gap-2 py-2 px-1 rounded-md hover:bg-gray-100">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='md' class="cursor-pointer"></box-icon>
            <p>@franklin-muhumbania</p>
        </div>
        <div class="border-y-2 mt-1 py-1">
            <div class="flex items-center justify-start gap-2 py-2 px-1 rounded-md hover:bg-gray-100">
                <box-icon type='solid' name='user-circle' color="#4b5563" size='sm' class="cursor-pointer"></box-icon>
                <p>@franklin-muhumbania</p>
            </div>
            <div class="flex items-center justify-start gap-2 py-2 px-1 rounded-md hover:bg-gray-100">
                <box-icon type='solid' name='user-circle' color="#4b5563" size='sm' class="cursor-pointer"></box-icon>
                <p>@franklin-muhumbania</p>
            </div>
            <div class="flex items-center justify-start gap-2 py-2 px-1 rounded-md hover:bg-gray-100">
                <box-icon type='solid' name='user-circle' color="#4b5563" size='sm' class="cursor-pointer"></box-icon>
                <p>@franklin-muhumbania</p>
            </div>
            <div class="flex items-center justify-start gap-2 py-2 px-1 mb-1 rounded-md hover:bg-gray-100">
                <box-icon type='solid' name='user-circle' color="#4b5563" size='sm' class="cursor-pointer"></box-icon>
                <p>@franklin-muhumbania</p>
            </div>
            <div class="flex items-center justify-center gap-2 py-2 px-1 rounded-md bg-gray-200 hover:bg-gray-300">
                <box-icon type='solid' name='wrench' color="#4b5563" size='sm'></box-icon>
                <p>Manage accounts</p>
            </div>
        </div>
        <div class="flex items-center justify-start gap-2 py-2 px-1 rounded-md hover:bg-gray-100">
            <box-icon type='regular' name='moon' color="#4b5563" size='sm' class="cursor-pointer"></box-icon>
            <p>Display</p>
        </div>
        <div class="flex items-center justify-start gap-2 py-2 px-1 rounded-md hover:bg-gray-100">
            <box-icon type='regular' name='help-circle' color="#4b5563" size='sm' class="cursor-pointer"></box-icon>
            <p>Help and Assistance</p>
        </div>
        <div class="flex items-center justify-start gap-2 py-2 px-1 rounded-md hover:bg-gray-100">
            <box-icon type='regular' name='log-out' color="#4b5563" size='sm' class="cursor-pointer"></box-icon>
            <p>Logout</p>
        </div>
    </div>

   
    <div class="flex sm:h-[92vh] items-start mt-8 sm:mt-0 justify-center sm:items-center text-black text-md">
        <div class="grid sm:grid-cols-2 sm:grid-rows-2 gap-8 grid-cols-1 grid-rows-4">
            <div class="h-60 w-72 flex flex-col justify-start items-center">
                <div class="basis-1/6 w-72 bg-white rounded-t-xl pl-4 flex justify-start items-center gap-4 border-b-2 pb-1">
                    <box-icon name='facebook-circle' size="md" type='logo' color="#4267B2" ></box-icon>
                    <p>Facebook</p>
                </div>
                <div class="basis-5/6 w-72 bg-white rounded-b-xl pl-4 flex flex-col gap-2 justify-center">
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>2m Subscribers</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>3m Impressions</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>1m Reactions</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>100k Average Reactions</p>
                    </div>
                    
                </div>
            </div>

            <div class="h-60 w-72 flex flex-col justify-start items-center">
                <div class="basis-1/6 w-72 bg-white rounded-t-xl pl-4 flex justify-start items-center gap-4 border-b-2 pb-1">
                    <box-icon name='instagram-alt' size="md" type='logo' color="#8a3ab9"></box-icon>
                    <p>Instagram</p>
                </div>
                <div class="basis-5/6 w-72 bg-white rounded-b-xl pl-4 flex flex-col gap-2 justify-center">
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>2m Subscribers</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>3m Impressions</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>1m Reactions</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>100k Average Reactions</p>
                    </div>
                    
                </div>
            </div>

            <div class="h-60 w-72 flex flex-col justify-start items-center">
                <div class="basis-1/6 w-72 bg-white rounded-t-xl pl-4 flex justify-start items-center gap-4 border-b-2 pb-1">
                    <box-icon name='linkedin-square' size="md" type='logo' color="#0e76a8" ></box-icon>
                    <p>LinkedIn</p>
                </div>
                <div class="basis-5/6 w-72 bg-white rounded-b-xl pl-4 flex flex-col gap-2 justify-center">
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>2m Subscribers</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>3m Impressions</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>1m Reactions</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>100k Average Reactions</p>
                    </div>
                    
                </div>
            </div>

            <div class="h-60 w-72 flex flex-col justify-start items-center">
                <div class="basis-1/6 w-72 bg-white rounded-t-xl pl-4 flex justify-start items-center gap-4 border-b-2 pb-1">
                    <box-icon name='twitter' size="md" type='logo' color="#1DA1F2"></box-icon>
                    <p>X</p>
                </div>
                <div class="basis-5/6 w-72 bg-white rounded-b-xl pl-4 flex flex-col gap-2 justify-center">
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>2m Subscribers</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>3m Impressions</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>1m Reactions</p>
                    </div>
                    <div class="w-72 flex justify-start items-center gap-4">
                        <box-icon name='facebook-circle' size="md" color="#4b5563" type='logo' ></box-icon>
                        <p>100k Average Reactions</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="h-screen w-screen flex justify-center items-center fixed top-0 bg-black z-10 opacity-75 hidden curtain">
    </div>

    <div class="h-screen w-screen flex justify-center items-center fixed top-0 z-20 hidden newPost">

        <form action="/post" method="POST">
            <div class="h-[400px] w-[500px] bg-white border-1 shadow-2xl rounded-md z-10 flex flex-col justify-evenly px-4 postForm">
                <div class="flex items-center justify-between h-14">
                    <div class="flex">
                        <box-icon name='facebook-circle' size="md" type='logo' color="#4267B2" ></box-icon>
                        <input type="checkbox" name="Facebook">
                    </div>
                    <div class="flex">
                        <box-icon name='instagram-alt' size="md" type='logo' color="#8a3ab9"></box-icon>
                        <input type="checkbox" name="Instagram">
                    </div>
                    <div class="flex">
                        <box-icon name='linkedin-square' size="md" type='logo' color="#0e76a8" ></box-icon>
                        <input type="checkbox" name="LinkedIn">
                    </div>
                    <div class="flex">
                        <box-icon name='twitter' size="md" type='logo' color="#1DA1F2"></box-icon>
                        <input type="checkbox" name="X">
                    </div>
                </div>
                <textarea type="text" name="postContent" placeholder="What's new ?" id="postContent" class="h-[250px] text-md outline-none resize-none"></textarea>
                <button class="flex items-center justify-center bg-gray-200 text-gray-300 text-lg font-medium h-10 rounded-md" id="postButton" type="submit">
                    Post
                </button>
            </div>
        </form>
    </div>


    <div class="fixed bottom-12 right-12 flex items-center cursor-pointer" id="startPost">
        <box-icon type='solid' name='plus-circle' size="lg" color="#3b82f6" class="md:hidden"></box-icon>
        <p class="bg-blue-500 py-2 px-2 rounded-lg text-white hidden md:inline">Start a new post</p>
    </div>

<%- include('partials/footer.ejs')  %>