<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <link href="./styles/signup.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="signup">
        <h1>Sign in</h1>
        <form action="" method="post" class="form">
            <div class="form-item">
                <label for="name">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <div class="form-item">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input type="submit" value="Sign in">
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </form>
    </div>
</body>
</html>
