body{
    padding-right: 2rem;
    padding-left: 2rem;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-title{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard-profile{
    height: 2rem;
    width: 2rem;
}

.dashboard{
    height: 90vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.audience-growth{
    background-color: beige;
    grid-column: span 1.5;
}

.engagement-rate{
    background-color: blue;
    
}

.reach{
    background-color: blueviolet;
}

.audience-demo{
    background-color: brown
}

.content-type{
    background-color: cadetblue;
}