.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15rem;
    width: 16rem;
    background-color: antiquewhite;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: azure;
}