body{
    padding: 0;
    margin: 0;
    background-color: #E0FFFF;
    position: relative;
}

p{
    font-family: Roboto;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #041E42;
    height: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    color: rgb(230, 243, 255);
    font-weight: 250;
    font-family: Roboto;
    font-size: 0.85rem;

}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 2rem;
}

.menu-item{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 6rem;
    padding: 0.2rem 0.2rem;
}

.menu-item:hover{
    background-color: #808080;
    cursor: pointer;
}

.menu-item img{
    height: 1.7rem;
    width: 1.7rem;
}

header img{
    height: 2.7rem;
    width: 2.7rem;
}

.overview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
}

.item{
    height: 15rem;
    width: 20rem;
    background-color: rgb(20, 108, 185);
}

.item-title{
    background-color: antiquewhite;
}

.item div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.item div img{
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
}

.new-post-button{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 0.8rem 1rem;
    background-color: #041E42;
    color: white;
    border: none;
    z-index: 1;
}

.post{
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 0;
}

.new-post{
    background-color: aqua;
    width: 40rem;
    height: 30rem;
}

.new-post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: antiquewhite;
}

.new-post-title img{
    height: 2rem;
    width: 2rem;
}

.accounts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.accounts img{
    height: 2rem;
    width: 2rem;
}

.post-content{
    display: flex;
    justify-content: center;
}

.post-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1rem;
}

.post-add img{
    height: 2rem;
    width: 2rem;
}

.finish-post{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #041E42;
}

.account{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 80vh;
    background-color: aliceblue;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 10vh;
    right: 1rem;
    z-index: 2;
}

.username{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.username img{
    height: 3rem;
    width: 3rem;
}

.accounts-log{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.accounts-log-item{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem 0.5rem;
    width: 20rem;
}

.accounts-log-item:hover{
    background-color: #E0FFFF;
    cursor: pointer;
}

.icon-account-div{
    width: 1.8rem;
    height: 1.8rem;
}

.hidden{
    display: none;
}

.footer{
    text-align: center;
}